{{ partial "header.html" . }}
<div class="hero-image" style="background-image:url({{ .Site.Params.list.backgroundimage }})">
	{{ partial "primary-nav.html" . }}
	<div class="container">
		<div class="row">
			<div class="column">
				<h1>{{ .Title }}</h1>
			</div>
		</div>
	</div>
	{{ if isset .Site.Params.list "photocredit" }}<p class="photo-credit">{{ .Site.Params.strings.photocredit }}: {{ .Site.Params.list.photocredit }}</p>{{ end }}
</div>
<ul class="posts-list">
	{{ range .Data.Pages.ByPublishDate }}
	<li>
		<a class="list-link" href="{{ .Permalink }}" style="background-image:url({{ .Params.bgimgurl }})">
			<div class="container">
				<div class="row">
					<div class="column">
						{{ .Title }}
						<p class="description">{{ .Description }}</p>
					</div>
				</div>
			</div>
			<time datetime="{{ .Date }}">{{ .Site.Params.strings.published }}: {{ .Date.Format "01-02-2006" }}</time>
		</a>
	</li>
	{{ end }}
</ul>

{{ partial "sub-footer.html" . }}
{{ partial "footer.html" . }}