{{ partial "header.html" . }}

<div class="hero-image" style="background-image:url({{ .Params.bgimgurl }})">
	{{ partial "primary-nav.html" . }}
	<div class="container">
		<div class="row">
			<div class="column">
				<h1>{{ .Title }}</h1>
			</div>
		</div>
	</div>
	<p class="photo-credit">{{ if isset .Params "photocredit" }}{{.Site.Params.strings.photocredit}}: {{ .Params.photocredit }} | {{ end }}<time datetime="{{ .Date }}">{{.Site.Params.strings.published}}: {{ .Date.Format "01-02-2006" }}</time>{{ if isset .Params "updated" }} | <time datetime="{{ .Params.updated }}">{{ .Site.Params.strings.updated }}: {{ .Params.updated }}</time>{{ end }}</p>
</div>
<div class="container content">
	<div class="row">
		<div class="column">
			{{ .Content }}
		</div>
	</div>
</div>
{{ partial "sub-footer.html" . }}
{{ partial "footer.html" . }}