<div class="container">
	<div class="row">
		<div class="column">
			<hr>
			<p>Hey, thanks for stopping by! We should stay connected. If you'd like to reach out, you can connect with me on <a href="http://twitter.com/coryshaw">Twitter</a>, <a href="http://youtube.com/corylshaw">YouTube</a>, <a href="http://linkedin.com/in/coryshaw">LinkedIn</a>, <a href="https://www.facebook.com/coryshaw">Facebook</a>, or <a href="https://www.soundcloud.com/aphelion">Soundcloud</a>.</p>
			<p>Also, you can check out some other stuff I've done for clients over at <a href="http://userkind.com">User Kind, Inc.</a>, or some of my side projects like <a href="http://perfwars.com">PerfWars</a>, <a href="http://appifywp.com">AppifyWP</a>, <a href="http://surf-oahu.com">Surf Oahu</a>, and <a href="http://soundseq.com">Soundseq</a>.</p>
		</div>
	</div>
</div>